body {
    margin: 0;
    background: rgb(255 248 241);
    padding: 0;
}

th, td {
    text-align: left;
}

:root {
    --sl-color-primary-50: rgb(255 248 241);
    --sl-color-primary-100: rgb(255 233 209);
    --sl-color-primary-200: rgb(255 215 173);
    --sl-color-primary-300: rgb(255 195 131);
    --sl-color-primary-400: rgb(255 166 71);
    --sl-color-primary-500: rgb(220 142 60);
    --sl-color-primary-600: rgb(182 118 49);
    --sl-color-primary-700: rgb(149 96 40);
    --sl-color-primary-800: rgb(123 80 33);
    --sl-color-primary-900: rgb(87 57 24);
    --sl-color-primary-950: rgb(54 35 15);
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 10; /** this value affects the overlapping **/
    width: 100%;
}
